  <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="Motorraeder">Motorraeder</a></li>
      </ul>
    </div>
  </nav>